<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    
  <body style="color: #9397af;">
    <div class="wrapper" style="font-family: 'Arial', sans-serif; padding-bottom: 20px;">

        <h1>Hello!</h1>

        <p>You receive a new message from the Contact system of minuszero.com.</p>

        <p>The message details are below:</p><br/>

        <p><strong>Email:</strong> <%= @email %></p>
        <p><strong>Subject:</strong> <%= @subject %></p>
        <p><strong>Message:</strong> <%= @message %></p><br/>

        <p>You're privacy is important to us – as such, your account information will NOT be shared with any outside parties.</p>
    </div>
    
  </body>
    
</html>
