<div class="container">
  <div class="image-container col-xs-12">
    <h1>Minus Zero Straton 2016 Lineup</h1>
    <p class="text-center"><%= image_tag("previous-lineup.png", alt: "Minus Zero", class: "img-responsive") %></p>   
    <h2>Minus Zero Straton 2016 Lineup</h2>
  </div>
  
</div>