<div class="container">
		<div class="faqs">
			<h1 class="page-title text-center">Need-to-Know</h1>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  			<div class="panel panel-default">
	    			<div class="panel-heading" role="tab" id="headingOne">
	      				<h4 class="panel-title">
	        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          WHEN WILL I RECEIVE MY TICKETS?
	        				</a>
	      				</h4>
	    			</div>
	    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      			<div class="panel-body">
	        			<p>You should have received an email shortly after purchasing with an attached E-Ticket. Please bring this E-Ticket to the festival to receive your wristband (which grants access to the festival footprint).</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingTwo">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	           WHEN AND WHERE CAN I PICK UP MY WRISTBAND?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      			<div class="panel-body">
	        			<p>GA Wristband(s) may be picked up at the Stratton Mountain Resort Box Office on Friday from xAM to xPM and Saturday from xAM to xPM. <strong>Please bring Valid Identification</strong> in addition to your printed E-ticket.</p>
	        			<p>VIP Wristbands may be picked up at the VIP Check-In Area of the Stratton Mountain Resort Box Office on Friday from xAM to xPM and Saturday from xAM to xPM. <<strong>Please bring Valid Identification</strong> in addition to your printed E-ticket.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingThree">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          			 Is it free to park at the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      			<div class="panel-body">
	       				<p>Yes, parking is free at the festival.  Stratton Mountain Resort has ample parking for festival goers and parking is complimentary.  For those driving, please be careful of the mountain roads and we strong encourage a designated driver.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingFour">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          			 What are the hours of the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      			<div class="panel-body">
	       				<p>Minus Zero does not follow a traditional festival schedule.  Because of its unique setting, we operate our festival in two parts:</p>
	       				<ul class="list-unstyled">
	       					<li>Hours of Operations:</li>
	       					<li>Friday/Saturday - The ski resort/lift operations open at 9:00 am on Friday and 8:30am on Saturday</li>
	       					<li>Friday/Saturday - Music on the main stage start at 11:00am</li>
	       					<li>Friday/Saturday - Summit Stage 11:30am - 3:00pm</li>
	       					<li>Friday/Saturday - Festival "après–ski" 4:00pm - 4:45pm (Mountain Closed and cleared for nighttime festival reset)</li>
	       					<li>Friday/Saturday - Doors Open for Minus Zero Nighttime at 4:45pm</li>
	       					<li>Friday/Saturday - Nighttime Festival 4:45pm - 12:00am</li>
	       					<li> Friday/Saturday - Minus Zero After Parties (Main Ski Lodge &amp; Village) 12:00am - 2:00am</li>
	       				</ul>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingFive">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	          			 Is there re-entry at the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      			<div class="panel-body">
	       				<p>Festival re-entry is not needed during the daytime portion as the mountain is open to the public until 4:00pm.  For the nighttime portion, re-entry will be allowed until 8:00pm.  After 8:00pm you will no longer be allowed to re-enter the festival grounds.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingSix">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
	          			Will I be able to Ski or Snowboard during the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	      			<div class="panel-body">
	       				<p>Yes, and we encourage you to do so! There will be plenty of snow, so be sure to bring your Skis and Snowboards! The mountain will be open from xAM to xPM Friday and xAM to xPM Saturday. <strong>Minus Zero Festival is the last opportunity to hit the slopes during the 2017 season</strong>, so be sure to grab lift tickets (link to tickets page) while they’re still available!</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingSeven">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
	          			 Do you have to have a ski lift ticket to enjoy the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
	      			<div class="panel-body">
	       				<p>No, a ski lift ticket is purely optional and is for those who are interested in skiing/snowboarding on the mountain.  The entire festival is accessible with a festival admission ticket and a lift ticket is not required.  The festival footprint is accessible to anyone during the mountain's normal ski hours.  After the mountain is closed, you will need a festival ticket to access the mountain footprint and experience Minus Zero.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingEight">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
	          			 Will there be storage for my Skiing/Snowboarding gear?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
	      			<div class="panel-body">
	       				<p>Yes, lockers will be available for daily-use in Stratton’s heated locker room.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingNine">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
	          			 Will there be an ATM on premise?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
	      			<div class="panel-body">
	       				<p>Yes, Stratton Mountain Resort features multiple ATMs on premise.</p>
	      			</div>
	    		</div>
	  		</div>
		</div><!-- faqs -->
	</div>
</div><!-- container -->
<div class="container">
	<h2 class="page-title text-center">&#8213; General Rules &#8213;</h2>
	<div class="rules col-md-6 col-md-offset-3">
		<h3 class="text-center">REMEMBER TO DRESS WARM</h3>
		<p>Please remember that Minus Zero is an outdoor festival and temperatures are expected to be below freezing the weekend of April 7th at Stratton Mountain, so please dress warm!</p>
		<br>
		<h3 class="text-center">LARGE BAGS AND BACKPACKS PROHIBITED</h3>
		<p>Large bags and backpacks will not be allowed within the festival footprint- please plan accordingly. Lockers will be available for daily-use throughout festival weekend.</p>
	</div>
	<div class="col-xs-12"><h2 class="page-title text-center">&#8213; Prohibited &#8213;</h2></div>
	<div class="extra-info col-xs-12">
	<!-- 	<h2 class="page-title text-center">Important</h2>
		<div>
			<h3 class="text-center"><strong>REMEMBER TO DRESS WARM</strong></h3>
			
			<h3 class="text-center"><strong>LARGE BAGS AND BACKPACKS PROHIBITED</strong></h3>
			<p>Large bags and backpacks will not be allowed within the festival footprint- please plan accordingly. Lockers will be available for daily-use throughout festival weekend.</p>
		</div>
		 -->
		<br>
		<div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i> Aerosol cans</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Air horns</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Audio recording devices</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Chains/ chain wallets/ kubotans</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Detachable lens cameras</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Drones, remote control air crafts</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Illegal drugs</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i> Fireworks/ explosives</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Glass or metal containers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Glow sticks or LED gloves</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Guns/ ammunition or Tasers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Flyers or giveaways</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Laser pointers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Selfie sticks</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i> Laser pointers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> <strong class="yellow">Large bags and backpacks</strong></p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Mace/ Pepper spray</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Knives or sharp objects</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Pets or animals</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Outside food and drink</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Umbrellas</p>
				</div>
			</div>
			<!-- <ul class="list-unstyled text-center">
				<li>Aerosol cans</li>
				<li>Air horns</li>
				<li>Audio recording devices</li>
				<li>Chains/ chain wallets/ kubotans</li>
				<li>Detachable lens cameras</li>
				<li>Drones, remote control air crafts</li>
				<li>Illegal drugs</li>
				<li>Fireworks/ explosives</li>
				<li>Glass or metal containers</li>
				<li>Glow sticks or LED gloves</li>
				<li>Guns/ ammunition or Tasers</li>
				<li>Flyers or giveaways</li>
				<li>Laser pointers</li>
				<li><strong style="color:#ffbf36;">Large bags and backpacks</strong></li>
				<li>Mace/ Pepper spray</li>
				<li>Knives or sharp objects</li>
				<li>Pets or animals</li>
				<li>Outside food and drink</li>
				<li>Selfie sticks</li>
				<li>Umbrellas</li>
			</ul> -->
		</div>
	</div><!-- important -->
</div><!-- container -->
