<div class="container">
		<div class="faqs">
			<h1 class="page-title text-center">F.A.Q'S</h1>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  			<div class="panel panel-default">
	    			<div class="panel-heading" role="tab" id="headingOne">
	      				<h4 class="panel-title">
	        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          WHEN WILL I RECEIVE MY TICKETS?
	        				</a>
	      				</h4>
	    			</div>
	    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      			<div class="panel-body">
	        			<p>You should have received an email shortly after purchasing with an attached E-Ticket. Please bring this E-Ticket to the festival to receive your wristband (which grants access to the festival footprint).</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingTwo">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	           WHEN AND WHERE CAN I PICK UP MY WRISTBAND?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      			<div class="panel-body">
	        			<p>GA Wristband(s) may be picked up at the Stratton Mountain Resort Box Office on Friday from xAM to xPM and Saturday from xAM to xPM. <strong>Please bring Valid Identification</strong> in addition to your printed E-ticket.</p>
	        			<p>VIP Wristbands may be picked up at the VIP Check-In Area of the Stratton Mountain Resort Box Office on Friday from xAM to xPM and Saturday from xAM to xPM. <<strong>Please bring Valid Identification</strong> in addition to your printed E-ticket.</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingThree">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          			Will I be able to Ski or Snowboard during the festival?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      			<div class="panel-body">
	       				<p>Yes, and we encourage you to do so! There will be plenty of snow, so be sure to bring your Skis and Snowboards! The mountain will be open from xAM to xPM Friday and xAM to xPM Saturday. <strong>Minus Zero Festival is the last opportunity to hit the slopes during the 2017 season</strong>, so be sure to grab lift tickets (link to tickets page) while they’re still available!</p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingFour">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          			 Will there be storage for my Skiing/Snowboarding gear?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      			<div class="panel-body">
	       				<p>Yes, lockers will be available for daily-use in Stratton’s heated locker room.  </p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingFive">
	      			<h4 class="panel-title">
	        			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	          			 Will there be an ATM on premise?
	        			</a>
	      			</h4>
	    		</div>
	    		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      			<div class="panel-body">
	       				<p>Yes, Stratton Mountain Resort features multiple ATMs on premise.</p>
	      			</div>
	    		</div>
	  		</div>
	</div><!-- faqs -->
	</div>
</div><!-- container -->
<div class="container">
	<div class="extra-info col-md-6 col-md-offset-3">
		<h2 class="page-title text-center">Important</h2>
		<div>
			<h3 class="text-center"><strong>REMEMBER TO DRESS WARM</strong></h3>
			<p>Please remember that Minus Zero is an <strong>outdoor</strong> festival and temperatures are expected to be below freezing the weekend of April 7th at Stratton Mountain, so please dress warm!</p>
		</div>
		
		<br>
		<div>
			<h2 class="page-title text-center">Prohibited Items</h2>
			<ul class="list-unstyled text-center">
				<li>Aerosol cans</li>
				<li>Air horns</li>
				<li>Audio recording devices</li>
				<li>Chains/ chain wallets/ kubotans</li>
				<li>Detachable lens cameras</li>
				<li>Drones, remote control air crafts</li>
				<li>Illegal drugs</li>
				<li>Fireworks/ explosives</li>
				<li>Glass or metal containers</li>
				<li>Glow sticks or LED gloves</li>
				<li>Guns/ ammunition or Tasers</li>
				<li>Flyers or giveaways</li>
				<li>Laser pointers</li>
				<li><strong style="color:#ffbf36;">Large bags and backpacks</strong></li>
				<li>Mace/ Pepper spray</li>
				<li>Knives or sharp objects</li>
				<li>Pets or animals</li>
				<li>Outside food and drink</li>
				<li>Selfie sticks</li>
				<li>Umbrellas</li>
			</ul>
		</div>
	</div><!-- important -->
</div><!-- container -->
