<div class="container">
	<h2 class="page-title text-center margin-top">Need-to-know</h2>
	<div class="rules col-md-6 col-md-offset-3">
		<h3 class="text-center">PICKING UP YOUR TICKETS</h3>
		<p>Once you arrive at Stratton Mountain Resort, you will need to take your electronic/hard ticket to our ticket office and exchange it for a wristband.  Our office will be located within the Village area.  Box office hours will be the following:</p>
		<ul class="list-unstyled">
			<li>Thursday April 6:  1:00pm - 8:00pm</li>
			<li>Friday April 7:       7:00am - 9:00pm</li>
			<li> Saturday April 8:  7:00am - 9:00pm</li>
		</ul>
		<br>
		<h3 class="text-center">REMEMBER TO DRESS WARM</h3>
		<p>Please remember that Minus Zero is an outdoor festival and temperatures are expected to be extremely cold the weekend of April 7th at Stratton Mountain, so please dress warm!</p>
		<br>
		<h3 class="text-center">LARGE BAGS AND BACKPACKS PROHIBITED</h3>
		<p>Large bags and backpacks will not be allowed within the festival footprint- please plan accordingly.</p>
	</div>
</div>
<div class="container">
	<div class="faqs">
		<h1 class="page-title text-center">F.A.Q</h1>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  		<div class="panel panel-default">
	    		<div class="panel-heading" role="tab" id="headingOne">
	      			<h4 class="panel-title">
	        			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          What are the hours of the festival?
	        			</a>
	      			</h4>
	    		</div>
	    	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      		<div class="panel-body">
	        		<p>Minus Zero does not follow a traditional festival schedule.  Because of its unique setting, we operate our festival in two parts:</p>
	       			<ul class="list-unstyled">
	       				<li>Hours of Operations:</li>
	       				<li>Friday/Saturday - The ski resort/lift operations open at 9:00 am on Friday and 8:30am on Saturday</li>
	       				<li>Friday/Saturday - Music on the main stage start at 11:00am</li>
	       				<li>Friday/Saturday - Summit Stage 11:30am - 3:00pm</li>
	       				<li>Friday/Saturday - Festival "après–ski" 4:00pm - 4:45pm (Mountain Closed and cleared for nighttime festival reset)</li>
	       				<li>Friday/Saturday - Doors Open for Minus Zero Nighttime at 4:45pm</li>
	       				<li>Friday/Saturday - Nighttime Festival 4:45pm - 12:00am</li>
	       				<li> Friday/Saturday - Minus Zero After Parties (Main Ski Lodge &amp; Village) 12:00am - 2:00am</li>
	       			</ul>
	      		</div>
	    	</div>
	  	</div>
	  	<div class="panel panel-default">
	    	<div class="panel-heading" role="tab" id="headingTwo">
	      		<h4 class="panel-title">
	        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Is there re-entry at the festival?
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      		<div class="panel-body">
	        		<p>Festival re-entry is not needed during the daytime portion as the mountain is open to the public until 4:00pm.  For the nighttime portion, re-entry will be allowed until 8:00pm.  After 8:00pm you will no longer be allowed to re-enter the festival grounds. </p>
	      		</div>
	    	</div>
	  	</div>
	  	<div class="panel panel-default">
	    	<div class="panel-heading" role="tab" id="headingThree">
	      		<h4 class="panel-title">
	        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Is parking free?
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      		<div class="panel-body">
	        		<p>Stratton Mountain is a fully functioning ski resort that accommodates tens of thousands of guests, as <strong>such there is ample free parking within the resort.</strong></p>
	      		</div>
	    	</div>
	  	</div>
	  	<div class="panel panel-default">
	    	<div class="panel-heading" role="tab" id="headingFour">
	      		<h4 class="panel-title">
	        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          			Will there be storage for my Skiing/Snowboarding gear?
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      		<div class="panel-body">
	       			<p>Yes, lockers will be available for daytime use in Stratton’s heated locker room. However, <strong>lockers must be cleared</strong> before the start of the evening festival activities. Please plan accordingly</p>
	      		</div>
	    	</div>
	  	</div>
	  	<div class="panel panel-default">
	    	<div class="panel-heading" role="tab" id="headingFive">
	      		<h4 class="panel-title">
	        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	          			 Will there be an ATM on premise?
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      		<div class="panel-body">
	       			<p>Yes, Stratton Mountain Resort features multiple ATMs on premise.</p>
	      		</div>
	    	</div>
	  	</div>
	</div>
	<div class="col-xs-12"><h2 class="page-title text-center">&#8213; Prohibited &#8213;</h2></div>
	<div class="extra-info col-xs-12">
		<div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i> Aerosol cans</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Air horns</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Audio recording devices</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Bicycles/ scooters/ personal motor vehicles</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Chains/ chain wallets/ kubotans</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Chairs</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Deodorant, cosmetics or perfume (over 3oz/ 90ml)</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Detachable lens cameras</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Drones, remote control air crafts</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Eye drops</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Flagsticks</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Flyers or giveaways</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Focused-light devices (laser pointers/pens etc)</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i> Frisbees</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Glass containers (bottles, canteens, flasks, etc) </p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Glass or metal containers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Glow sticks or LED gloves</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Guns/ ammunition or tasers</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Hard Pole Totems</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Illegal drugs or substances</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Knives or sharp objects</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Large bags and backpacks</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Mace/ Pepper spray Marker pens</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Musical Instruments</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Opened Cigarettes</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Outside food and drink</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-times" aria-hidden="true"></i>Pets or non-service animals</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Professional cameras &amp; recording devices</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Projectiles or explosives (solid, liquid, or gas)</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Pyrotechnics of any type</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Selfie sticks</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Soft Pole Totems over 7’</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Spray paint</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Squirt guns/ misters/ spray bottles</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Stickers, flyers, or posters</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Tripods</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Unsealed Tampons</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Walking canes</p>
					<p><i class="fa fa-times" aria-hidden="true"></i> Weapons of any kind</p>
				</div>
			</div>
			<p class="text-center yellow">
				<i class="fa fa-asterisk" aria-hidden="true"></i>
				 No Outside Alcohol or Alcoholic Beverages
			</p>
			<p class="text-center yellow">
				<i class="fa fa-asterisk" aria-hidden="true"></i>
				 Anything considered dangerous to other festival goers may be confiscated by security services.
			</p>
		</div>
	</div><!-- important -->
	<div class="col-xs-12">
		<h2 class="page-title text-center">&#8213; Allowed &#8213;</h2>
	</div>
	<div class="allowed col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p class="text-center">Bags/ backpacks smaller than 12”W x 12”H x 16”L</p>
				<p class="text-center">Prescription medication WITH accompanying prescription.</p>
				<p class="text-center">Services animals</p>
				<p class="text-center">Empty, clear plastic water bottles up to 1 liter in capacity.</p>
			</div>
		</div>
	</div><!-- important -->
</div><!-- container -->
