<div class="container">
  <h1 class="page-title text-center">GALLERY</h1>
  <div id="gallery" style="display:none;">

    <%= link_to "something", "http://unitegallery.ne", :target => "_blank" %>
    <%= image_tag('merch.jpg', :class => 'margin-bottom', :alt => 'rail-jam', :'data-image_attr' => 'merch.jpg', :'data-description_attr' => 'merch.jpg') %>
   <!--  <img alt="Lemon Slice"
         src="images/thumbs/tile1.jpg"
         data-image="images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a> -->
  
  </div>
  

  
</div>