<div class="container">
  <h1 class="page-title text-center">MINUS ZERO 2017 GALLERY</h1>
 
  <div id="gallery" style="display:none;">
    <% @thumbnail = "https://s3.amazonaws.com/minuszero2/thumbs/" %>
    <% @thumb_num = 440 %>

    <% @big = "https://s3.amazonaws.com/minuszero2/" %>
    <% @big_num = 440 %>
    
    
    <% while @thumb_num != 1060 && @big_num != 1060 %>
        <%= image_tag(@thumbnail + @thumb_num.to_s + '.jpg', :class => 'margin-bottom', :alt => '', :'data-image' => image_url(@big + @big_num.to_s + '.jpg'), :'data-description' => 'MINUS ZERO 2017') %>
        <% @thumb_num += 1 %>
        <% @big_num += 1 %>
    <% end %>
  </div>
  
</div>

