<div class="container">
  <h1 class="page-title text-center">GALLERY</h1>
 
  <div id="gallery" style="display:none;">
    <% @thumbnail = "https://s3.amazonaws.com/minuszero/thumbs/" %>
    <% @thumb_num = 0 %>

    <% @big = "https://s3.amazonaws.com/minuszero/" %>
    <% @big_num = 0 %>
    
    
    <% while @thumb_num != 5 && @big_num !=5 %>
        <%= image_tag(@thumbnail + @thumb_num.to_s + '.jpg', :class => 'margin-bottom', :alt => 'rail-jam', :'data-image' => image_url(@big + @big_num.to_s + '.jpg'), :'data-description' => 'merch.jpg') %>
        <% @thumb_num += 1 %>
        <% @big_num += 1 %>
    <% end %>

      

   <!--  <img alt="Lemon Slice"
         src="images/thumbs/tile1.jpg"
         data-image="images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a> -->
  
  </div>

  


</div>


