<div class="container">
  <h1 class="page-title text-center">GALLERY</h1>
 

  <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="120" data-pin-scale-width="115" href="https://www.pinterest.com/pinterest/official-news/"></a>
  


</div>

  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>