<div class="container">
  <h1 class="page-title text-center">MINUS ZERO 2017 GALLERY</h1>
 
  <div id="gallery" style="display:none;">
    <% @thumbnail = "https://s3.amazonaws.com/minuszero2/thumbs/1+(" %>
    <% @thumb_num = 2 %>

    <% @big = "https://s3.amazonaws.com/minuszero2/1+(" %>
    <% @big_num = 2 %>
    
    
    <% while @thumb_num != 621 && @big_num != 621 %>
        <%= image_tag(@thumbnail + @thumb_num.to_s + ').jpg', :class => 'margin-bottom', :alt => '', :'data-image' => image_url(@big + @big_num.to_s + ').jpg'), :'data-description' => 'MINUS ZERO 2017') %>
        <% @thumb_num += 1 %>
        <% @big_num += 1 %>
    <% end %>
  </div>
  
</div>

