<div class="container">
  <h1 class="page-title text-center">GALLERY</h1>
 
  <div id="gallery" style="display:none;">
    <% @counter = 0 %>
    <% @thumbnail = "https://s3.amazonaws.com/minuszero/thumbs/" %>
    <% @file_num = 0 %>
    
    <% while @file_num != 5 %>
        <%= image_tag(@thumbnail + @file_num.to_s + '.jpg', :class => 'margin-bottom', :alt => 'rail-jam', :'data-image' => image_url(@thumbnail + @file_num.to_s + '.jpg'), :'data-description' => 'merch.jpg') %>
        <% @file_num += 1 %>
      
    <% end %>

      

   <!--  <img alt="Lemon Slice"
         src="images/thumbs/tile1.jpg"
         data-image="images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a> -->
  
  </div>

  


</div>


