<div id="container">
  <header class="header text-center" role="banner">
    <%= link_to image_tag("minus-zero-festival-logo.png",alt: "Minus Zero Festival"),
            'http://minuszerofestival.com/', :id => "logo" %>
  </header>
  <div class="splash">
    <div id="signpost">
      <div class="city">
        <div class="city-inner one">
          <h1>Minus Zero Store</h1>
          <h3 class="location">location</h3>
          <h3 class="dates">dates</h3>
          <%= link_to 'http://minuszerofestival.com/', :class => "button" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner two">
          <h1>Minus Zero Store</h1>
          <h3 class="location">location</h3>
          <h3 class="dates">dates</h3>
          <%= link_to 'http://minuszerofestival.com/', :class => "button" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner one">
          <h1>Minus Zero Store</h1>
          <h3 class="location">location</h3>
          <h3 class="dates">dates</h3>
          <%= link_to 'http://minuszerofestival.com/', :class => "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
