<h1 class="lineup-title text-center">2017 Lineup</h1>

<div class="container">
  <div class="row">
    <div class="artist friday col-xs-12 col-md-6">
      <h2 class="title text-center">Friday</h2>
      <div class="row">
        <!-- <div class="artist col-xs-12 col-md-6">
          <%#= image_tag("zeds-dead.png", :class => 'img-thumbnail') %>
          <div>
            <p class="lineup-title text-center">Zeds Dead</p>
          </div>
        </div> -->
          
        <div class="artist col-xs-12 col-md-12">
          <%#= image_tag("piercefulton.png", :class => 'img-thumbnail') %>
          <div>
            <p class="lineup-title text-center">Zeds Dead</p>
          </div>
        </div>
      </div><!-- row -->
      <div class="artist-list">
        <ul class="text-center list-unstyled">
            <li>Illenium</li>
            <li>Marvel Years</li>
            <li>DJ Shift</li>
            <li>Dudenguy</li>
            <li>Clef + Camberra</li>
            <li>Detox</li>
            <li>Honeycomb</li>
            <li>Lestat</li>
            <li>Nekro B2B Exssv</li>
            <li>Shotgun Styles</li>
            <li>Vinny Vibel</li>
          </ul>
      </div>
    </div>
    <div class="artist saturday col-xs-12 col-md-6">
      <h2 class="title text-center">Saturday</h2>
      <div class="row">
       <!--  <div class="artist col-xs-12 col-md-6">
          <%#= image_tag("bassnectar.png", :class => 'img-thumbnail') %>
          <div>
            <p class="lineup-title text-center">Bassnectar</p>
          </div>
        </div> -->
          
        <div class="artist col-xs-12 col-md-12">
          <%#= image_tag("griz.png", :class => 'img-thumbnail') %>
          <div>
            <p class="lineup-title text-center">Bassnectar + Griz</p>
          </div>
        </div>
      </div><!-- row -->
      <div class="artist-list">
        <ul class="text-center list-unstyled">
            <li>Pierce Fulton</li>
            <li>Brightside</li>
            <li>Yookie</li>
            <li>Adam Scott</li>
            <li>Mike Chach</li>
            <li>Sam Allan</li>
            <li>Vavo</li>
            <li>Voltran + Bamboora</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
      </div>
    </div>
    </div>
  </div>
</div>  




  
