<h1 class="lineup-header text-center yellow padding-top">2017 Lineup</h1>

<div class="container">
  <h2 class="title text-center color-blue">STRATON MOUNTAIN RESTORT. VERMONT</h2>
  <div class="row">
    <div class="artist friday col-xs-12 col-md-6 border-right-lineup">
      <h3 class="title white">Friday April 7th</h3>
      <h3 class="lineup-header">Main Stage</h3>
      <div class="artist-list">
        <ul class="list-unstyled">
            <li>10:30 -12:00 - <span>ZEDS DEAD</span></li>
            <li>8:50 - 10:20 - <span>ILLENIUM</span></li>
            <li>7:50 - 8:50 - <span>MARVEL YEARS</span></li>
            <li>6:50 - 7:50 - <span>DJ SHIFT</span></li>
            <li>6:00 - 6:55 - <span>DUDENGUY</span></li>
            <li>5:00 - 5:55 - <span>LESTATS</span></li>
          </ul>
      </div>
      <p class="lineup-title text-center">APRéS-SKI</p>
      <p class="lineup-title text-center"><i class="fa fa-star" aria-hidden="true"></i>CHANGE OVER TO NIGHTTIME FEST<i class="fa fa-star" aria-hidden="true"></i></p>
      <div class="artist-list">
        <ul class="list-unstyled">
            <li>3:10 - 4:00 - <span>BAMBOORA</span></li>
            <li>2:20 - 3:10 - <span>VOLTRAN</span></li>
            <li>1:30 - 2:20 - <span>NEKRO B2B EXSSV</span></li>
            <li>12:40 - 1:30 - <span>DETOX</span></li>
            <li>12:00 - 12:40 - <span>MICHAEL PATA</span></li>
          </ul>
      </div>
    </div>
    <div class="artist friday col-xs-12 col-md-6 border-left-lineup">
      <h3 class="title white">Saturday April 8th</h3>
      <h3 class="lineup-header">Main Stage</h3>
      <div class="artist-list">
        <ul class="list-unstyled">
            <li>10:30 - 12:00 - <span>BASSNECTAR</span></li>
            <li>8:50 - 10:20 - <span>GRIZ</span></li>
            <li>7:35 - 8:35 - <span>PIERCE FULTON</span></li>
            <li>6:40 - 7:35 - <span>YOOKIE</span></li>
            <li>5:50 - 6:40 - <span>BRIGHTSIDE</span></li>
            <li>5:00 - 5:50 - <span>MIKE CHACH</span></li>
          </ul>
      </div>
      <p class="lineup-title text-center">APRéS-SKI</p>
      <p class="lineup-title text-center"><i class="fa fa-star" aria-hidden="true"></i>CHANGE OVER TO NIGHTTIME FEST<i class="fa fa-star" aria-hidden="true"></i></p>
      <div class="artist-list">
        <ul class="list-unstyled">
            <li>3:10 - 4:00 - <span>SAM ALLAN</span></li>
            <li>2:20 - 3:10 - <span>VAVO</span></li>
            <li>1:30 - 2:20 - <span>ADAM SCOTT</span></li>
            <li>12:40 - 1:30 - <span>SHOTGUN STYLES</span></li>
            <li>12:00 - 12:40 - <span>NELVIS TOLENTINO</span></li>
        </ul>
      </div>
    </div>
    <p class="artist-list text-center pink"><i class="fa fa-star" aria-hidden="true"></i>SET TIMES LISTED IN REVERSE RUNNING ORDER<i class="fa fa-star" aria-hidden="true"></i></p>
  </div>
  <div style="border-bottom: 5px dotted #fff"></div>
  <br>
  <h2 class="title text-center lineup-header pink">Summit Stage</h2>
  <h3 class="artist-list text-center yellow">FRI/SAT 11:30AM - 3:00 PM (WEATHER PERMITTING)</h3>
  <br>
  <p class="artist-list text-center helper">AUTEN, AVERAGE JOE, FENX, FIFTH YEAR</p> 
  <p class="artist-list text-center helper">LUCID NOISE, SICOLI, TONY MANCUSO, VINNY VIBES</p>
  <br>
  <p class="artist-list text-center pink"><i class="fa fa-star" aria-hidden="true"></i>ARTIST AND SET TIMES SUBJECT TO CHANGE WITHOUT PRIOR NOTICE<i class="fa fa-star" aria-hidden="true"></i></p>
  <br>
  <div style="border-bottom: 5px dotted #fff"></div>
  <br>
  <h2 class="title text-center lineup-header pink">The Village Stage</h2>
  <h3 class="artist-list text-center yellow">FRI/SAT 1:00pm</h3>
  <p class="artist-list font-size text-center pink"><i class="fa fa-star" aria-hidden="true"></i>Special Guest: <span class="white">Claptone</span><i class="fa fa-star" aria-hidden="true"></i></p>
  <br>
  <div class="artist-list">
    <ul class="list-unstyled">
        <li><p class="font-size-two text-center"><span>Behrouz</span></p></li>
        <li><p class="font-size-two text-center"><span>DJ Three</span></p></li>
        <li><p class="font-size-two text-center"><span>Serge Devant</span></p></li>
        <li><p class="font-size-two text-center"><span>Thugfucker</span></p></li>
        <li><p class="text-center"><span>Anamoly</span></p></li>
        <li><p class="text-center"><span>Brett Rubin</span></p></li>
        <li><p class="text-center"><span>Danny B</span></p></li>
        <li><p class="text-center"><span>Human Resources</span></p></li>
        <li><p class="text-center"><span>Michelangelo</span></p></li>
        <li><p class="text-center"><span>Mike Myers</span></p></li>
        <li><p class="text-center"><span>Sleepy</span></p></li>
      </ul>
  </div>

</div>  




  
