<div class="col-xs-12 padding-top">
	<div class="container">
		<h1 class="lineup-header yellow text-center">2016 Lineup</h1>
		<%= image_tag('previous-lineup', :class => 'img-responsive') %>
		<br>
	</div>
	
</div>