<div class="container">

	<h1 class="lineup-header text-center yellow">Rail Jam + Jump</h1>

  <div class="jam-info">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag('railjam.jpg') %>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>Join Minus Zero in the most unique  Rail Jam &amp; Jump ever, fueled by Monster Energy at Stratton Mountain Resort. This is an on mountain competition featuring a big air jump and many rails for more advanced riders at a higher difficulty level. 150 spots in qualifying rounds  from 9-11am; top 30 riders move in to finals  from 12-2pm. . ALL FINALISTS RECEIVE  MINUS ZERO FESTIVAL TICKET FOR SAT. 4/8!  Bonus: Special demonstration from professional athletes showing us their best jibbing and jumps immediately following the competition.</p>

        <p class="text-center">Would you like to participate?</p>
        <%= link_to "REGISTER HERE!", "https://runsignup.com/Race/Register/?raceId=44731#register", :target => "_blank", :class => "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
  <br>
  <h2 class="title text-center">Star-studded Lineup</h2>
  <div class="professionals">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
    </div>
  </div>
</div>