<div class="container">

	<h1 class="lineup-header padding-top text-center yellow">Rail Jam + Jump</h1>

  <div class="jam-info">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag('railjam.jpg', :class => 'margin-bottom') %>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>Join Minus Zero in the most unique  Rail Jam &amp; Jump ever, fueled by Monster Energy at Stratton Mountain Resort.</p> 
        <p>This is an on mountain competition featuring a big air jump and many rails for more advanced riders at a higher difficulty level. 150 spots in qualifying rounds  from 9-11am; top 30 riders move in to finals  from 12-2pm.</p>
        <p><strong>ALL FINALISTS RECEIVE  MINUS ZERO FESTIVAL TICKET FOR SAT. 4/8!</strong>  Bonus: Special demonstration from professional athletes showing us their best jibbing and jumps immediately following the competition.</p>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is the price?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>$50.00 Race Fee + $3.00 SignUp Fee.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          When does registration end?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>Registration: Registration ends April 1, 2017 at 12:00am EDT.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How does the event work?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Top 15 amateurs and top 15 pros move onto finals from 12-2pm and compete for 1st, 2nd, 3rd cash purse.
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What are the prizes?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>Cash payout for amateurs:</p> 
        <ul>
          <li>1st place $1,500</li>
          <li>2nd place $750</li>
          <li>3rd place $250</li>
        </ul>
        <p>Cash payout for pros:</p>
        <ul>
          <li>1st place $2,750</li>
          <li>2nd place $1,500</li>
          <li>3rd place $500</li>
        </ul>
        <p></p>
      </div>
    </div>
  </div>
</div>

        <p class="font text-center blue">Would you like to participate?</p>
        <%= link_to "REGISTER HERE!", "https://runsignup.com/Race/Register/?raceId=44731#register", :target => "_blank", :class => "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
  <br>
  <h2 class="title text-center">Star-studded Lineup</h2>
  <div class="professionals">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg', :class => 'margin-bottom') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg', :class => 'margin-bottom') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
    </div>
  </div>
</div>