<nav class="bottom-nav">
  
  <div class="container-fluid">
  <div class="mountain-range"></div>
    <div class="row">
      <div class="col-xs-12 col-md-12 count-down">
        <h3 class=" title text-center">Minus Zero is Coming...</h3>
        <p id="demo" class="text-center"></p>
      </div>
    </div>
    
  </div>
</nav>